## General
.DS_Store
Thumbs.db
*.tmp
*.log
.vscode/
.idea/

## Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

## Local env
.env
.env.*

## Python
__pycache__/
*.pyc
venv/
.venv/

## Node
node_modules/
dist/
